body {
  font-family: "Montserrat";
}

.container-fluid {
  padding: 7% 15% !important;
}


/* Headings */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: "Montserrat" mons;
  font-weight: 900 !important;
}

p {
  color: #8f8f8f;
}

/*Section*/

.white-section{
  background-color:#fff;

}

  .colored-section{
    background-color: #ff4c68;
    color: #fff;
  }

/* Navigation Bar */
.navbar {
  padding-bottom: 4.5rem !important;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bold;
}

.nav-item {
  padding: 0 18px ;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

/* downloaded buttons */
.download-btn {
  margin: 5% 3% 5% 0;
}

/*Titile Section*/


#title .container-fluid {
    padding: 3% 15% 7% !important;
    text-align: left;
}

.title-image {
  width: 18%;
  transform: rotate(25deg);
  right: 30% ;
  position: absolute;
}

/* features section */
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem !important;
}
.feature-box {
  text-align: center;
  padding: 4.5% !important;
}

.icon {
  padding: 5% !important;
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

    /* Testimonial Section */
#testimonials {
  text-align: center;
  background-color:#ef8172;
}


.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;

}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom:3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricng Section */
#pricing {
  padding: 100px;
  text-align: center;
}
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}
.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */
#cta {
  text-align: center;
}

/* Footer Section */
#footer {
    text-align: center;
}
.social-icon {
  margin: 20px 10px;
}


@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    width: 60%;
    transform: rotate(0);
  }
}
